<h2>Product List</h2>
<ul>
   <li *ngFor="let product of products" (click)="selectedProduct = product">
    {{product.name}} 
  </li> 
</ul>
<!-- <app-product-detail [hidden] [product]=undefined (bought)="onBuy()">

</app-product-detail> -->

   <app-product-details
   *ngIf="selectedProduct; else noProduct"
   [product]="selectedProduct"
   (bought)="onBuy()">
  </app-product-details>     
<ng-template #noProduct>
  <p>No product selected!</p>
</ng-template>
 


<!-- {{selectedProduct | json}}

<h2>Product List</h2>
<ul>
  <li *ngFor="let product of productsList | sort" (click)="selectedProduct = product">
    {{product.name}} 
  </li>
</ul>
<app-product-detail [hidden] [product]=undefined (bought)="onBuy()">

</app-product-detail>

<app-product-detail
*ngIf="selectedProduct; else noProduct"
  [product]="selectedProduct"
  (bought)="onBuy()">
</app-product-detail>
<ng-template #noProduct>
  <p>No product selected!</p>
</ng-template>
 -->
