<!-- <div class="row mb-3">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">

</div>
<div class="row mb-3">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>

    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">

</div>
<div class="row mb-3">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Father name</label>

    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">

</div>

<div class="row mb-3">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>

    <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm"
        required>

</div>
<div class="invalid-feedback">
    Please choose a mail.
</div>

<div class="row mb-3">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Phone number</label>

    <input type="number" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm"
        required>

</div>
<div>
    <label class="form-check-label" for="flexCheckDefault">
        Check Box
    </label>
    <!-- <label>employee</label> -->
<!-- </div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
        Default checkbox
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
    <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
    </label>
</div>
<div>
    <label> radio button</label>
</div>

<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled>
    <label class="form-check-label" for="flexRadioDefault1">
        Default radio
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
        Default checked radio
    </label>
</div>
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div> -->

<label>  Employee detail</label>

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="" required>
      
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" value="" required>
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Father name</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        
      </div>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Email</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        
      </div>

      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Address</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        
      </div>

   

<div>
    <label class="form-check-label" for="flexRadioDefault1">
        gender
    </label>
</div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
        <label class="form-check-label" for="flexRadioDefault1">
            female
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
           male
        </label>
    </div>

    <div>
        <label class="form-check-label" for="flexRadioDefault1">
           qualification
        </label>
    </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Ug
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
        <label class="form-check-label" for="defaultCheck2">
            Pg
        </label>
    </div>
    
   
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>


 
